{% extends 'base.html' %}


{% block content %}
<table>
    <tr>
        <th>Название товара</th>
        <th>Описание</th>
        <th>Дата производства</th>
        <th>Цена</th>
        <th>Единица измерения</th>
        <th>Поставзщик</th>
        <th>Категория</th>
    </tr>
    {% for product in object_list %}
    <tr>
        <td>{{ product.title }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.production_date }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.measure_unit }}</td>
        <td>{{ product.supplier_name }}</td>
        <td>{{ product.cat }}</td>
    </tr>
    {% endfor %}
</table>

<button type="button">Add a product</button>

{% endblock %}
